<!doctype html>
<html lang="sv">
<head> <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MalinsQuiz</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/style.css">
</head>
<body> 
<h1>#tf250</h1>
<h2>Testa dig själv - vad kan du om tryckfrihet?</h2>
<a href="smart länk">Testa dig själv!</a>

<h3>Vad vet du om fåglar?</h3>
<h3>Vad vet du om katter?</h3>
<h3>Vad vet du egentligen?</h3>

{% for quiz in quizzes %}
	<p>{{ quiz.name }}</p>
{% endfor %}

<p>Det här är Malin Cronas quiz.</p>
<div class=footer>
<a href="https:malincrona.com">Malin Crona</a></div>
</body>
</html>


